<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:tx="http://www.springframework.org/schema/tx"	
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jpa="http://www.springframework.org/schema/data/jpa"	
	xsi:schemaLocation=" 	
	http://www.springframework.org/schema/mvc 
 	http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
 	http://www.springframework.org/schema/beans 
 	http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
 	http://www.springframework.org/schema/context 
 	http://www.springframework.org/schema/context/spring-context-4.3.xsd
 	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx-4.3.xsd
	http://www.springframework.org/schema/data/jpa
	http://www.springframework.org/schema/data/jpa/spring-jpa-1.8.xsd
	http://www.springframework.org/schema/data/repository
	http://www.springframework.org/schema/data/repository/spring-repository-1.8.xsd">

	<context:component-scan base-package="com.wojciechdm.rest.notes" /> 
	<context:annotation-config /> 
	<mvc:annotation-driven />		
	<tx:annotation-driven />
	<jpa:repositories base-package="com.wojciechdm.rest.notes"/>	
	<bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter"> 
    	<property name="messageConverters"> 
       		<list> 
            	<ref bean="jsonConverter" /> 
        	</list> 
    	</property> 
	</bean> 
	<bean id="jsonConverter" class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter"> 
    	<property name="supportedMediaTypes" value="application/json" /> 
	</bean>
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">     
		<property name="driverClass" value="com.mysql.jdbc.Driver" />     
		<property name="jdbcUrl" value="jdbc:mysql://localhost:3306/notes?useUnicode=true&amp;characterEncoding=UTF-8&amp;useJDBCCompliantTimezoneShift=true&amp;useLegacyDatetimeCode=false&amp;serverTimezone=Europe/Warsaw&amp;&amp;useSSL=false&amp;allowPublicKeyRetrieval=true" />     
		<property name="user" value="user" />     
		<property name="password" value="password" /> 
		<property name="maxPoolSize" value="10" /> 
		<property name="minPoolSize" value="4" /> 
		<property name="maxStatements" value="100" /> 
		<property name="testConnectionOnCheckout" value="true" />
	</bean>		
	<bean id="entityManagerFactory"	class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="packagesToScan" value="com.wojciechdm.rest.notes" />
		<property name="jpaVendorAdapter">
			<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
				<property name="showSql" value="false" />
				<property name="databasePlatform" value="org.hibernate.dialect.MySQLDialect" />
			</bean>
		</property>
		<property name="jpaProperties">
			<props>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
			</props>
		</property>
	</bean>
	<bean class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor" />
	<bean class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor" />
	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory" />
	</bean>	  	
</beans>